[submodule "bar-menu"]
	path = bar-menu
	url = https://github.com/jayantattri6/bar-menu.git

[submodule "drink-menu"]
	path = drink-menu
	url = https://github.com/jayantattri6/drink-menu.git

[submodule "full menu"]
	path = full menu
	url = https://github.com/jayantattri6/full-menu.git

[submodule "food menu"]
	path = food menu
	url = https://github.com/jayantattri6/food-menu.git